@CHARSET "UTF-8";
.teac-grad-radio{
	border:none;
	width:100%;
}

.stu-info-p {
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    margin-left:5%;
    margin-right:5%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    position: relative;
}
.stu-info-p-radio{
	display:block;
	margin-left:5%;
    margin-right:10%;
    height: 40px;
    line-height: 40px;
}
.stu-info-radio-block{
	display:block;
	margin-left:0;
	marin-right:10%;
	height:40px;
	inline-height:40px;
}
.stu-info-btn{
	background:#1a9f71;
	padding: 10px 0px;
    text-align: center;
    color: #fff;
    margin-left:5%;
    margin-right: 3%;
    display: block;
    border: none;
    outline: none;
    width: 90%;
    border-radius: 5px;
}.mtop20{
	margin-top:20%;
}

.mtop10{
	margin-top:10%;
}
.mleft50{
	margin:left:50%;
}